<ion-view title="New Receipt" right-buttons="rightButtons">
  <ion-content class="has-header">
    <div class="list list-inset">
      <div class="item item-text-wrap">
        Document your receipt by taking a photo of the receipt and adding the amount to the form.
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="location" ng-model="receipt.location">
        </label>
        <button class="button button-clear icon ion-close-circled" ng-click="receipt.location = ''"></button>
      </div>
      <label class="item item-input">
        <input type="number" placeholder="amount" ng-model="receipt.amount">
      </label>
      <label class="item item-input">
        <textarea placeholder="notes" style="height: 75px;" ng-model="receipt.notes"></textarea>
      </label>
      <div class="item">
        <button class="button button-block icon ion-ios7-camera" ng-click="getImage()">
          Capture Receipt
        </button>
      </div>
      <button class="item button button-block button-balanced" ng-click="save(receipt)" ng-disabled="!imageSrc">Save</button>
    </div>
  </ion-content>
</ion-view>
